/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider-thumb {
	background-color: #cca027 !important;
   
}

.mat-slider-thumb-label {
	background-color: #cca027 !important;
    size: 2px;
    
}

.mat-slider-track-fill {
	background-color: #cca027 !important;
   
}

.mat-pseudo-checkbox .mat-pseudo-checkbox-checked{
	color: #cca027;
	background-color: #cca027;
	
}



.mat-list-content{
	color: #cca027;
	background-color: #cca027;
}